/** {
	border: 1px dashed red;
	min-height: 10px;
}*/
body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
h1 {
	padding-right: 168px;
	margin: 0;
}
img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding: 5px;
}
.body-right {
	padding: 5px;
}
p {
	margin-top: 0;
	font-size: 16px;
	width: 200px;
}
input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: gray;
}
input:focus {
	border-color: gray;
}
.postcard-footer {
	text-align: center;
}
button {
	padding: 5px;
	background: gray;
	color: black;
}